{% extends 'base.html.twig' %}

{% block title %}{{ 'templates.login_form.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'templates.login_form.title'|trans }}</h1>
        <turbo-frame id="login_form">
            <form method="post" action="{{ path('app_login') }}">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% for flash_error in app.flashes('login_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error|trans }}</div>
                {% endfor %}

                {% if app.user %}
                    <div class="mb-3">
                        {{ 'templates.login_form.logged_in_as'|trans }} {{ app.user.userIdentifier }}
                    </div>
                {% else %}
                <label for="_username">{{ 'templates.login_form.fields.email'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="_username" id="_username" class="form-control mb-2"
                       autocomplete="email" required autofocus>
                <label for="_password">{{ 'templates.login_form.fields.password'|trans }}</label>
                <input type="password" name="_password" id="_password" class="form-control mb-3"
                       autocomplete="current-password"
                       required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">{{ 'templates.login_form.remember_me'|trans }}</label>
                </div>

                <button class="btn btn-primary" type="submit">
                    {{ 'templates.login_form.btn_sign_in'|trans }}
                </button>
                {% endif %}
            </form>
        </turbo-frame>
    </div>
{% endblock %}
