<h1>{{ 'templates.mail.confirmation_email.title'|trans }}</h1>

<p>
    {{ 'templates.mail.confirmation_email.text'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'templates.mail.confirmation_email.confirm'|trans }}</a>.
    {{ 'templates.mail.confirmation_email.expiration'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'templates.mail.confirmation_email.thank_you'|trans }}
</p>
