{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-1">Register</h1>

        <turbo-frame id="registration_form">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'action': path('app_register')}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </turbo-frame>
    </div>

{% endblock %}
