{% extends "base.html.twig" %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block body %}
    {% if movie.backdrop_path %}
        <div id="image-backdrop">
            <img class="object-fit-cover position-fixed z-n1" width="100%" height="100%" alt="backdrop movie image"
                 src="{{ movie.backdrop_path|tmdb_image_url(size='w300') }}"
                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                    src: movie.backdrop_path|tmdb_image_url
                }) }}>
        </div>
    {% endif %}
    <div class="container">
        <div>
            <div class="row mt-5">
                <div class="col-md-4">
                    {% if movie.poster_path %}
                        <img class="object-fit-lg-scale object-fit-cover rounded position-relative p-5 p-md-0"
                             width="100%" height="100%" alt="{{ movie.title ~ ' poster' }}"
                             src="{{ movie.poster_path|tmdb_image_url(size='w500') }}"
                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                src: movie.poster_path|tmdb_image_url
                            }) }}>
                    {% else %}
                        <svg class="rounded" viewBox="0 0 254.4 377.017" xmlns="http://www.w3.org/2000/svg">
                            <rect width="100%" height="100%" fill="grey"></rect>
                            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#333">
                                {{ 'templates.movie_details.image_not_found'|trans }}
                            </text>
                        </svg>
                    {% endif %}
                </div>
                <div class="col-md-8 mt-2 my-md-auto d-flex flex-column placeholder-glow">
                    <div class="bg-body-tertiary rounded bg-opacity-75 p-2">
                        <h2>{{ movie.title }}</h2>
                        <blockquote class="blockquote text-body-secondary fst-italic">{{ movie.tagline }}</blockquote>
                        <p>{{ movie.overview }}</p>
                    </div>
                    <div class="d-flex mt-2">
                        <h5>
                            {% for category in movie.genres %}
                                <span
                                    class="badge rounded-pill bg-body-secondary text-body me-2">{{ category.name }}</span>
                            {% endfor %}
                        </h5>
                    </div>
                    <div class="bg-body-tertiary bg-opacity-75 rounded p-3 mt-2">
                        {% include 'components/modal/turbo_frame_modal.html.twig' with {
                            'form': addToWatchlistForm,
                            'formPath': path('app_movie_add_to_watchlist', {tmdbId: movie.id}),
                            'requiredRole': 'IS_AUTHENTICATED'
                        } %}
                    </div>
                    <table
                        class="table table-hover table-sm table-borderless table-striped rounded overflow-hidden mt-2">
                        <tbody>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.runtime'|trans }}</td>
                            <td>{{ movie.runtime }} Minuten</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.release_date'|trans }}</td>
                            <td>{{ movie.release_date|date('d.M.Y') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.status'|trans }}</td>
                            <td>{{ movie.status }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.budget'|trans }}</td>
                            <td>{{ movie.budget|format_currency('USD') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.revenue'|trans }}</td>
                            <td>{{ movie.revenue|format_currency('USD') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.tmdb_id'|trans }}</td>
                            <td>{{ movie.id }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.imdb_id'|trans }}</td>
                            <td>{{ movie.imdb_id }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.vote_average'|trans }}</td>
                            <td>
                                <span class="bg-dark rounded" style="color: {{ movie.vote_average|rating_to_hsl }}">
                                    {{ movie.vote_average|number_format(1) }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'templates.movie_details.fields.vote_count'|trans }}</td>
                            <td>{{ movie.vote_count }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <turbo-frame id="watch-providers-{{ movie.id }}"
                                 src="{{ path('app_movie_watch_providers', {tmdbId: movie.id}) }}" loading="lazy">
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
    <turbo-frame id="movie_recommendations" src="{{ path('app_movies_recommendations', {tmdbId: movie.id}) }}"
                 loading="lazy">
        {% include 'components/centered_spinner.html.twig' %}
    </turbo-frame>

{% endblock %}



