<div class="d-flex justify-content-center">
    <div class="my-auto me-1">
        <button class="btn bg-opacity-75 bg-body-secondary rounded-1" type="button"
                data-bs-target="#video-carousel-{{ type }}-{{ tmdbId }}"
                data-bs-slide="prev"
                data-action="video#stopVideos">
            <i class="bi bi-chevron-left fs-2"></i>
        </button>
    </div>
    <div class="col carousel slide" id="video-carousel-{{ type }}-{{ tmdbId }}">
        <div class="carousel-indicators bg-opacity-75 bg-body-secondary" style="bottom: -50px">
            {% for video in videos %}
                {# @var video App\Dto\Tmdb\Responses\Movie\MovieVideosResults #}
                <button type="button" data-bs-target="#video-carousel-{{ type }}-{{ tmdbId }}"
                        style="background-color: var(--bs-body-color)"
                        data-bs-slide-to="{{ loop.index0 }}"
                        {% if loop.first %}class="active"{% endif %}
                        data-action="video#stopVideos">
                </button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for video in videos %}
                {# @var video App\Dto\Tmdb\Responses\Movie\MovieVideosResults #}
                <div class="carousel-item {% if loop.first %}active{% endif %} ratio ratio-16x9">
                    <iframe class="d-block w-100"
                            data-src="https://www.youtube.com/embed/{{ video.key }}?enablejsapi=1"
                            title="{{ video.name }}"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            data-video-target="iframe">
                    </iframe>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="my-auto ms-1">
        <button class="btn bg-opacity-75 bg-body-secondary rounded-1" type="button"
                data-bs-target="#video-carousel-{{ type }}-{{ tmdbId }}"
                data-bs-slide="next"
                data-action="video#stopVideos">
            <i class="bi bi-chevron-right fs-2"></i>
        </button>
    </div>
</div>
