{# @var movie App\Dto\Tmdb\Responses\Movie\MoviePopularList #}
<div
    class="card card-preview card-preview-animated card-preview-details-hover my-auto" {{ stimulus_action('helper', 'linkToUrl', 'click', {'url': movie.id|movie_details_url}) }}>
    {% if movie.posterPath %}
        <img id="card-preview-poster" class="card-img rounded mx-auto position-relative" alt="{{ movie.title }} poster"
             src="{{ movie.posterPath|tmdb_image_url(size='w92') }}"
            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                src: movie.posterPath|tmdb_image_url
            }) }}>
    {% else %}
        <svg class="card-img rounded mx-auto" viewBox="0 0 254.4 377.017"
             xmlns="http://www.w3.org/2000/svg">
            <rect width="100%" height="100%" fill="grey"></rect>
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#333">{{ movie.title }}</text>
        </svg>
    {% endif %}
    {% if movie.voteAverage is defined %}
        <div class="card-img-overlay" id="card-preview-rating">
            <div class="d-flex d-inline">
                <div class="bg-dark rounded">
                    <img class="me-2" src="{{ asset('build/images/tmdb-icon.svg') }}" height="25" width="50"
                         alt="movie rating">
                    <span style="color: {{ movie.voteAverage|rating_to_hsl }}">
                    {{ movie.voteAverage|number_format(1) }}
                </span>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card-img-overlay text-light" id="card-preview-description">
        <h5 class="card-title text-truncate">{{ movie.title }}</h5>
        <p class="card-text overflow-scroll h-75">{{ movie.overview }}</p>
        {% if movie.releaseDate is defined %}
            <p class="card-text">
                <small class="text-white-50">{{ 'templates.movie_preview.release_date'|trans }}
                    {{ movie.releaseDate|date('d.m.Y') }}</small>
            </p>
        {% endif %}
    </div>
    {% block additional_preview_content %}{% endblock %}
</div>
