<!-- movie preview -->
<div class="card my-auto" {{ stimulus_action('movie', 'linkToDetailsPage', 'click', {'url': movie.id|movie_details_url}) }}>
    {% if movie.poster_path %}
        <img id="poster" class="card-img rounded mx-auto position-relative"
             src="{{ movie.poster_path|tmdb_image_url }}">
    {% else %}
        <svg class="card-img rounded mx-auto" viewBox="0 0 254.4 377.017"
             xmlns="http://www.w3.org/2000/svg">
            <rect width="100%" height="100%" fill="grey"></rect>
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#333">{{ movie.title }}</text>
        </svg>
    {% endif %}
    <div class="card-img-overlay" id="card-rating">
        <div class="d-flex d-inline">
            <div class="bg-dark rounded">
                <img class="me-2" src="{{ asset('build/images/tmdb-icon.svg') }}" height="25" width="50" alt="movie rating">
                <span style="color: {{ movie.vote_average|rating_to_hsl }}">{{ movie.vote_average|number_format(1)}}</span>
            </div>
        </div>
    </div>
    <div class="card-img-overlay text-light" id="card-description">
        <h5 class="card-title text-truncate">{{ movie.title }}</h5>
        <p class="card-text overflow-scroll h-50">{{ movie.overview }}</p>
        <p class="card-text">
            <small class="text-white-50">Erscheinungsdatum: {{ movie.release_date|date('d.m.Y') }}</small>
        </p>
        <div class="row">
            <p class="col-auto card-text my-auto">
                <small class="text-white-50">Hinzugefügt von </small>
            </p>
            <div class="col-2">
                <!-- avatar -->
            </div>
        </div>
        <div class="d-flex flex-column mt-2">
            <button class="btn btn-primary mb-2 px-0" type="button">
                Zur Watchlist hinzufügen
            </button>
            <button class="btn btn-danger mb-2" type="button">
                Entferne von Watchlist
            </button>
        </div>
    </div>
</div>
