{% if not is_granted('IS_AUTHENTICATED') %}
    {% if app.current_route is not same as 'app_login' %}
        {% include('components/modal/login_modal.html.twig') %}
    {% endif %}
    {% if app.current_route is not same as 'app_register' %}
        {% include('components/modal/registration_modal.html.twig') %}
    {% endif %}
{% endif %}
<nav class="navbar navbar-expand-xxl bg-body bg-gradient sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_frontend_home_index') }}"><i class="bi bi-film"></i>
            {{ 'templates.navbar.website_title'|trans }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target=".offcanvas"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"><i class="bi bi-film"></i> {{ 'templates.navbar.website_title'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav w-100 mb-2 mb-xxl-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route is same as 'app_movies_popular' %} active {% endif %}"
                           href="{{ path('app_movies_popular') }}">
                            {{ 'templates.navbar.section.popular'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route is same as 'app_movies_discover' %} active {% endif %}"
                           href="{{ path('app_movies_discover') }}">
                            {{ 'templates.navbar.section.discover'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route is same as 'app_movies_highest_rating' %} active {% endif %}"
                           href="{{ path('app_movies_highest_rating') }}">
                            {{ 'templates.navbar.section.highest_rating'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route is same as 'app_movie_watchlists' %} active {% endif %}"
                           href="{{ path('app_movie_watchlists') }}">
                            {{ 'templates.navbar.section.watchlist'|trans }}
                        </a>
                    </li>
                    <hr class="d-xxl-none">
                    <div class="nav-item d-flex mx-xxl-auto my-auto">
                        <!-- search bar -->
                    </div>
                    <hr class="d-xxl-none">
                    <div class="d-flex">
                        {% if not is_granted('IS_AUTHENTICATED') %}
                            {% if app.current_route is not same as 'app_register' %}
                                <div class="my-auto order-xxl-last me-3">
                                    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#registrationModal">
                                        {{ 'templates.navbar.register'|trans }}
                                    </button>
                                </div>
                            {% endif %}
                            {% if app.current_route is not same as 'app_login' %}
                                <div class="order-xxl-last my-auto">
                                    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#loginModal">
                                        {{ 'templates.navbar.login'|trans }}
                                    </button>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="order-xxl-last my-auto">
                                <a class="btn btn-sm btn-outline-primary" href="{{ path('app_logout') }}">
                                    {{ 'templates.navbar.logout'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        <div class="dropdown ms-auto me-2 me-xxl-3 my-auto">
                            <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-sm">
                                {% for locale in app.enabled_locales %}
                                    {% if locale != app.request.locale %}
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{ path(app.current_route, app.current_route_parameters|merge({_locale: locale})) }}">
                                                {{ locale|locale_name(app.request.locale)|u.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-check form-switch me-xxl-5 my-auto">
                            <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch"
                                   aria-label="theme switch" data-theme-target="themeSwitch"
                                {{ stimulus_action('theme', 'changeTheme', 'click') }}>
                            <label class="form-check-label" for="themeSwitch"><i
                                    class="bi bi-moon-stars-fill"></i></label>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>
